<a href="https://colab.research.google.com/github/Fahin2000/Data-110/blob/main/week%207.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Load the penguins dataset from seaborn's built-in datasets and assign it to the variable 'penguins'
penguins = sns.load_dataset("penguins")

# Display the first few rows of the dataframe to get a quick overview of the dataset structure and initial data points
print(penguins.head())

# Print the type of the 'penguins' variable to confirm it's a pandas DataFrame
print(type(penguins))

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    Male
1       3800.0  Female
2       3250.0  Female
3          NaN     NaN
4       3450.0  Female
<class 'pandas.core.frame.DataFrame'>